---
import BaseLayout from '../layouts/BaseLayout.astro'
import GhProjects from '../components/svelte/GhProjects.svelte'
---

<BaseLayout title="Proyectos" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Últimos Proyectos</div>
    <p>listado de proyectos en los que he estado trabajando recientemente.</p>
    <p>Si tienes pensado algún proyecto que quieras realizar, hablemos... ☎</p>
  </div>
  <div class="m-8">
    <a class="btn btn-neutral" href="https://www.fiverr.com/simoncra" target="_blank">Contrátame 📋</a>
  </div>
  <div class="divider my-0"></div>

  <GhProjects client:load />
  </BaseLayout>
